.about-wrapper {
	max-width: 123.75rem;
	background: url('../images/about-background.jpg') no-repeat;
	background-size: cover;
	padding-bottom: 2rem;
}

.about h2 {
	margin-top: 6rem;
	padding-top: 2rem;
	font-size: clamp(1.5rem, 2vw, 2.5rem);
	text-align: center;

}

.about-h2-container {
	padding-bottom: 1rem;
	background-color: #fff6ffa2;
}

.about-text-container {
	background-color: #fff6ffa2;
	margin: 2rem .5rem;
	padding: .5rem;
	border-radius: 1rem;
	max-width: 40rem;
}

.about p {
	font-weight: 500;
	margin: 2rem auto;
	padding-left: 1rem;
}

.about .tmdb-logo {
	padding-left: 1rem;
	width: 7.5rem;
	margin-top: 1rem;
}

.about .cartoon-heart {
	position: absolute;
	top: 20rem;
	left: 10rem;
	z-index: 10;
	display: none;
}

@media (min-width: 40.625rem) {
	.about-wrapper {
		padding-top: 2rem;
	}

	.about-text-container {
		margin: 2rem auto;
	}
}

@media (min-width: 100rem) {
	.about-wrapper {
		padding-bottom: 6rem;
	}

	.about .cartoon-heart {
		display: block;
		z-index: 1
	}
}


