.about-wrapper {
	max-width: 123.75rem;
	background: url('../images/about-background.jpg') no-repeat;
	background-size: cover;
	padding-bottom: 2rem;
	min-height: min(90vh, 100rem);
	position: relative;
	top: 10rem;
	margin-bottom: 1rem;
}

.about-wrapper .about-h2-container h2 {
	margin-top: 3rem;
	padding-top: 2.25rem;
	font-size: clamp(1.5rem, 2.75vw, 2.75rem);
	text-align: center;
}

.about-h2-container {
	padding-bottom: 1rem;
	background-color: #fff6ffa2;
}

.about-text-container {
	background-color: #fff6ffa2;
	margin: 2rem .5rem;
	padding: .75rem;
	border-radius: 1rem;
	max-width: 40rem;
}

.about-content {
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	min-height: 70vh;
	max-width: 80rem;
	margin: 0 auto;
}

.about p {
	font-weight: 500;
	margin: 2rem auto;
	padding-left: 1rem;
}

.about .tmdb-logo {
	padding-left: 1rem;
	width: 7.5rem;
	margin-top: 1rem;
}

.about .cartoon-heart {
	display: block;
	position: relative;
	margin: 1rem auto;
	padding-bottom: 1rem;
}

@media (min-width: 40.625em) {
	.about-wrapper {
		padding-top: 2rem;
		top: 6rem;
	}

	.about-wrapper .about-h2-container h2 {
		margin-top: 0;
	}

	.about-text-container {
		margin: 2rem auto;
	}
}