#favourites-header img {
	position: relative;
	top: 4rem;
	filter: opacity(0.75);
}

.favourites-container {
	position: relative;
	right: 0;
	top: 8rem;
	padding: 0.75rem 0;
	background-color: #f2e8efb3;
	z-index: 2;
}

#favourites-header h2 {
	text-align: center;
}

#favourites-header {
	margin-bottom: 5rem;
}

.movie-container {
	margin-top: 1rem;
}

.favourites-movie-container {
	background-color: var(--plum-lighter3);
	margin-top: 2rem;
}

.favourites-middle {
	color: var(--white);
	position: relative;
	top: -5rem;
	padding: 1.5rem;
	z-index: 99;
	background-color: var(--plum);
	font-size: .9rem;
}

.favourites-middle p {
	margin: .5rem auto;
}

@media (min-width: 31.25em) {
	.favourites-middle {
		text-align: center;
	}
}

@media (min-width: 75em) {

	.favourite-movie-container .movie-container {
		display: block;
		max-width: 12.75rem;
		margin-top: 8rem;
	}

	.favourite-movie-container .movie-container .rating {
		display: none;
	}

	#favourites-header img {
		filter: opacity(1);
	}

}

@media (max-width: 40.625em) {

	#favourites-header {
		margin-top: 5rem;
	}
}