.site-header {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--plum);
    color: var(--white);
    box-shadow: 0 0.25rem 0.125rem -0.125rem #808080c9;
}

.logo-and-header {
    display: flex;
    align-items: center;
    /* Logo looks kinda pixely, fix this somehow. */
}

.site-header img {
    display: block;
    padding: 1rem;
    width: 3rem;
    height: 3rem;
}

.site-header h1 {
    font-size: 2rem;
    font-weight: 800;
    text-shadow: .25rem .25rem 0rem var(--black);
    padding-bottom: .25rem;
}