.favButton {
	display: flex;
	justify-content: flex-end;
}

.fav-toggle {
	height: 2.5em;
	width: 2.5em;
	background-color: none;
	color: var(--mauve-lighter5);
	cursor: auto;
	margin: 0.5em;
}

.favourite .fav-toggle {
	fill: #f10726;
}

.fav-toggle:hover {
	cursor: pointer;
}

.hover-container .favButton {
	margin: -0.5rem;
}