#main-content {
	margin: 0 auto;
	max-width: 123.75rem;
}

.page-header {
	overflow: hidden;
}

.page-header h2 {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	color: var(--plum);
	letter-spacing: 0.25rem;
	padding: 0 1rem 0.05rem;
	text-align: center;
	padding-bottom: 0.25rem;
	z-index: 3;
	font-size: clamp(1.5rem, 2.75vw, 2.75rem);
}

.page-content {
	background-color: var(--very-light-purple);
}

.filter-text {
	background-color: #350023e7;
	position: relative;
	top: -10.25rem;
	z-index: 3;
	color: var(--purple-white);
	padding: .6rem;
}

.filter-text h2 {
	text-align: center;
	margin-top: 0.25rem;
	font-size: 0.8rem;
	border-bottom: none;
}

.filter-text p {
	display: none;
}

.home-page {
	margin: 0 auto;
	max-width: 123.75rem;
}

.h2-container {
	position: relative;
	right: 0;
	top: 18rem;
	padding: 0.75rem 0;
	background-color: #f2e8efb3;
	z-index: 4;
}

.page-header {
	max-width: 123.75rem;
	margin: 0 auto;
	overflow-x: hidden;
}

.page-header img {
	display: block;
	max-width: none;
	margin-top: -8rem;
	margin-bottom: -8rem;
	position: relative;
	left: -34rem;
	z-index: 1
}

h2.desktop-sort {
	display: none;
}

@media (min-width: 75em) {
	.page-header img {
		width: 123.75rem;
		top: 4rem;
		left: 0;
		margin-bottom: -4rem;
	}

	.h2-container {
		top: 29rem;
	}

	.page-header h2 {
		text-align: right;
	}

	.filter-text {
		display: block;
		top: -13.45rem;
	}

	.filter-text p {
		display: block;
	}

	.filter-text h2 {
		text-align: left;
		font-size: 1.25rem;
	}

	h2.mobile-sort {
		display: none;
	}

	h2.desktop-sort {
		display: block;
		font-size: 1.25rem;
		font-family: "Montserrat", sans-serif;
		text-align: left;
		padding-top: 1rem;
	}
}

@media (min-width: 84.375em) {
	.h2-container {
		top: 29.1rem;
	}
}
