nav ul {
    padding: 0 1rem;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav li {
    padding: 1rem;
}

nav a,
nav a:visited {
    font-weight: 600;
    color: var(--purple-white);
    letter-spacing: .15rem;
    transition: .5s ease-out;
}

nav a:hover {
    color: var(--mauve-lighter3);
    border-bottom: .1rem solid var(--white);
}