.single-movie-container {
	position: relative;
	overflow: hidden;
}

.hero-background {
	position: absolute;
	top: 3rem;
	left: 0;
	width: 100%;
	height: 100%;
	max-width: 123.75rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.33;
	z-index: 0;
}

.movie-flex-container {
	display: flex;
	flex-direction: column;
	max-width: 90%;
	align-items: center;
	position: relative;
	top: 10rem;
	left: 0;
	margin: 0 auto;
	border-radius: 1rem;
	margin-bottom: 15rem;
}

.movie-details-container {
	margin-top: 2rem auto;
	position: relative;
}

.movie-details-container ul {
	font-weight: 500;
}

.movie-details-container .rating-movie {
	padding: 1rem;
	border-radius: 1rem;
	display: inline-block;
	width: 5.25rem;
	font-weight: 700;
	text-align: center;
	line-height: 1rem;
	box-shadow: 0.2rem 0.2rem 0.3rem 0rem #00000067;
	margin: 1rem auto;
}

.poster-image {
	display: block;
	margin: 0 auto;
	max-width: 90%;
	opacity: 1;
	border-radius: 1rem;
	box-shadow: 0.2rem 0.2rem 0.3rem 0rem #00000097;
	transition: filter ease-out 0.5s;
	margin-top: -3rem;
	margin-bottom: 1rem;
}

.poster-image:hover {
	filter: sepia(0.75);
}

.movie-title-box {
	position: relative;
	opacity: 1;
	z-index: 2;
}

.single-movie-title-box {
	max-width: 90%;
	margin-left: 1rem;
}

.single-movie-title-box span {
	font-size: clamp(1.5rem, 3.5vw, 3.5rem);
	text-align: center;
	margin-bottom: 1rem;
}

.movie-details {
	position: relative;
	margin-left: 1rem;
}

.movie-details-container {
	margin: 2rem auto;
	margin-right: 1rem;
	background-color: #f8e9f5b2;
	padding: 1rem;
	max-width: 100%;
	border-radius: 1rem;
	box-shadow: 0.2rem 0.2rem 0.3rem 0rem #00000050;
}

.movie-details-container p {
	font-size: clamp(0.9rem, 1vw, 1.1rem);
}

.favourite-single-movie {
	display: flex;
	background-color: var(--plum-lighter2);
	max-width: 20rem;
	border-radius: 1rem;
	padding: 0.25rem 0.5rem 0;
	box-shadow: 0.15rem 0.15rem 0.15rem 0rem #00000076;
	margin: 0 auto;
}

.favourite-single-movie p { 
	color: var(--white);
	padding: 0 1rem;
}

@media (min-width: 28.75em) {
	.movie-details-container {
		margin: 2rem auto;
		margin-right: 1.5rem;
		padding: 4rem;
		max-width: 30rem;
	}
}

@media (min-width: 32.875em) {

	.favourite-single-movie p { 
		margin-top: 2rem;
	}
}

@media (min-width: 56em) {
	.movie-flex-container {
		line-height: 1.75rem;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		padding: 2rem;
	}

	.favourite-single-movie {
		margin: 0;
	}

	.movie-details {
		left: 2rem;
	}

	.movie-details-container {
		max-width: 40rem;
		margin-left: 0.25rem;
		padding: 2.5rem;
	}

	.poster-image {
		position: sticky;
		margin-top: 1rem;
	}

	.movie-details.container .rating-single-movie {
		position: absolute;
		top: 1.5rem;
		left: 25rem;
		margin: 0;
	}

	.single-movie-title-box {
		max-width: 100%;
	}
}

@media (min-width: 96.875em) {

	.favourite-single-movie {
		max-width: 22rem;
	}

}

@media (max-width: 40.625em) {
	.single-movie-page {
		margin-top: 5rem;
	}
}